RewriteEngine On

#RewriteRule ^contact contact.html [NC,L]
#RewriteRule ^index index.html [NC,L]
#RewriteRule ^catalog catalog.html [NC,L]
#RewriteRule ^featured featured.html [NC,L]
#RewriteRule ^services services.html [NC,L]

ErrorDocument 404 /errors/404.html
